= form_for user, url: my_path, html: {class: 'form-horizontal'} do |f|
  -if user.errors.any?
    #error_explanation
      %h2= "#{pluralize(user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - user.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name, value: user.name
  .control-group
    = f.label :mail, :Email, class: 'control-label'
    .controls
      = f.text_field :mail, :value => user.mail
    // TODO DBに格納するように直す
  .control-group
    = f.label :locale, :Locale, class: 'control-label'
    .controls
      %label.radio.inline
        = f.radio_button :locale, "english"
        English
      %label.radio.inline
        = f.radio_button :locale, "japanese"
        Japanese
  .control-group
    = f.submit 'Save', class: 'btn btn-primary'
